.App-header{
    background-color: white;
}

.title{
    color: black;
    font-size: 3.5rem;
    font-family: tahoma;
}

.navbar-container {
    width: 100%;
    height: 95px;
    background-color: rgb(250, 171, 171);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    margin-left: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-left: 70px;
    margin-right: 70px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.CartWidget{
    display: flex;
    flex-direction: row;
    width: rem;
}

.pCartWidget{
    margin: auto;
    font-size: 40px;
    font-weight:bolder;
}

.svg-inline--fa {
    height: 2.3rem;
    margin: auto;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.clase1{
    color: red;
}

.clase2{
    color: black;
}